body {
    background-color: black;
    
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin:auto;
    background-color: #f8f8f8;
}

.game {
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}